name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Login Dockerhub
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      
      run: docker login -u haileythegooner -p $DOCKER_PASSWORD

    - name: Build the Docker image
      run: docker build -t haileythegooner/klaytn_alert . 
  
    - name: Push to Docker hub
      run: docker push haileythegooner/klaytn_alert:latest


